@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;700&display=swap');
*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

body{
    background-color: white;
    min-height: 100vh;
}
* button{
    
        font-weight: 600;
        color: #D64F2D;
        padding: 9px 25px;
        margin-top: 20px;
        background-color: white;
        border-radius: 20px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }
    
* button:hover{
        background-color: #D64F2D;
        color: white;
        transform: scale(1.1);
    }


/*Header-------------------------------------------------------------------------------------*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 5px;
    background-color: white;
    border-color: #D64F2D;
    position: sticky;
    top: 0;
}
/*Logo-----------------------------*/
.header .headerLogocm{
    cursor: pointer;
}

.header .headerLogocm img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .headerLogocm img:hover{
    transform: scale(1.05);
}

/*nav-----------------------------*/


.nav-link {
    font-size: 700;
    font-weight: 600;
    color: #D64F2D;
    text-decoration: none;
}

.nav-link:hover{
    font-size: 700;
    font-weight: 600;
    color:#960018;
    text-decoration: none;
    transform: scale(1.05);
}
.navbar-brand{
    font-size: 700;
    font-weight: 600;
    color: #D64F2D;
    text-decoration: none;
}
.navbar-brand:hover{
    font-size: 700;
    font-weight: 600;
    color:#960018;
    text-decoration: none;
    transform: scale(1.05);
}
.active{
    font-size: 700;
    font-weight: 600;
    color: #D64F2D;
    text-decoration: none;
}

.nav-link active{
    font-size: 700;
    font-weight: 600;
    color: #D64F2D;
    text-decoration: none;
}




/*Selector de Idioma-----------------------------*/
.header select{
    font-weight: 600;
    color: #D64F2D;
    padding: 9px 25px;
    background-color: white;
    border-radius: 50px;
}

/* FOOTER----------------------------------------------------------- */

.footer{
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "address third social"
    "address third social"
    "address third social";
    height: auto;
    width: 100%;
    background-color: #d64f2d;
    align-items: center;
    justify-items: center;
}

.footerAddress{
    grid-area: address;
    color: white;
    place-self: center center;
    padding: 1.5em;
    
}
.footerAddress h3{
    font-size: 1.5em;
}

.footerAddress a{
    color: white;
    text-decoration: none
}

.footerAddress a:hover{
    color: #960018;
}

/*Links para externos-----------------------------*/

.footerThird{
    grid-area: third;
    place-self: end center;
}

.footerThird ul{
    list-style: none;
    display: flex;
    padding: 2em;
    gap: 3em;
    
}

.footerThird a{
    font-size: 700;
    font-weight: 600;
    color: white;
    text-decoration: none
}

.footerThird li:hover{
    transform: scale(1.05);
}
.footerThird a:hover{
    color: #960018;
}

/*Redes sociales-----------------------------*/
.footerSocial{
    grid-area: social;
    place-self: center center;
    
    
}
.footerSocial h2{
    font-size: 700;
    font-weight: 500;
    color: white;
}

.footerSocial li{
    list-style: none;
    display: inline-block;
    padding: 0.5em;
        
}


.footerSocial img{
    height: 50px;
    width: auto;
}

/*Index----------------------------------------------------------------------------------------------------------------*/

/*Main-------------------------------------------------------------------------------------*/


/*Hero Section-----------------------------*/
.herosection{
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin-top: 20px;
    margin: bottom 20px;
    background-color: white;
}

.herosection {
    background-image: url(../images/Hero2.webp);
    background-size: cover;
    background-position: center;
    position: relative;   
}

.herosection::before{
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(255,255,255,.15);
}

.herosection .herosectionTxt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 50px;
    position: relative;
    
}


.herosection .herosectionTxt h1{
    color: #ffffff;
    font-size: 120px;
    font-weight: 500;
    text-decoration: none;
    position: relative;   
}
.herosectionTxtSpanhero{
    color: #D64F2D;
    font-size: 120px;
    font-weight: 500;
    text-decoration: none;  
}


/*Company General information-----------------------------*/

.companygeneral{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 100%;
    margin: 30px 0 30px 0;
    background-color:#ffffff;

}

.companygeneral img{
height: 90%;
width: 50%px  ;
}

.companygeneralTxt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 50px;

}


.companygeneralTxt h2{
    color: #D64F2D;
    font-size: xx-large;
    font-weight: 800;
    text-decoration: none; 
}

.companygeneralTxt p{
    color: #D64F2D;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none; 
}
/*Formulario home-----------------------------*/

.homeform{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #D64F2D;
}

.homeform h2{
    color: #ffffff;
    font-size: 100px;
    font-weight: 500;
    text-decoration: none; 
    
}

.homeform .homeformFormorder{
    display: flex;
    flex-direction: column;
    padding: 0 ;
    justify-content: center;
}

.homeformFormorderField{
    color: #D64F2D;
    font-size: 700;
    font-weight: 500;
    text-decoration: none; 
    border-radius: 20px;
    border: none;
    padding: 5px;
    
}

.homeformFormorderLabel{
color: white;
    font-size: 700;
    font-weight: 800;
    text-decoration: none; 
}

.homeform form input{
    font-weight: 600;
    color: #D64F2D;
    padding: 9px 25px;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
}


/*Product List-----------------------------------------------------------------------------------------------------*/

.productshero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
    background-color: white;
    margin-top: 2em;
}

.productsheroTxt h1{
    color: #D64F2D;
    font-size: xx-large;
    font-weight: 800;
    text-decoration: none; 
}

.productsheroTxt p{
    color: #D64F2D;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none; 
}

.productitem{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 100%;
    margin: 20px 0 20px 0;
    background-color:#ffffff;

    
}

.productitemreverse{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 100%;
    margin: 20px 0 20px 0;
    background-color:#ffffff;
}

.productitem img{
height: 90%;
width: auto;
}

.productitemreverse img{
    height: 90%;
    width: auto;
    }

.producttxt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 50px;

}


.producttxt h2{
    color: #D64F2D;
    font-size: xx-large;
    font-weight: 800;
    text-decoration: none; 
}

.producttxt p{
    color: #D64F2D;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none;
    text-align: justify;
    

}


/*Contact us ----------------------------------------------------------------------------------------------------------*/

.visitus{
    height: 65vh;
    width: 100%;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.visitusTxt{
    display: flex;
    padding:0px;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.visitus h1{
    color: #D64F2D;
    font-size: 100px;
    font-weight: 500;
    text-decoration: none; 
    padding: 50px;
}

.visitus h2{
    color: #D64F2D;
    font-size: 100px;
    font-weight: 500;
    text-decoration: none; 
    padding: 50px;
}

.visitus p{
    color: #D64F2D;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none; 
    padding: 50px;
}

.visitus img{
    margin-bottom: 1em;
}

/* Media Queries--------------------------------------------------------------- */
@media (768px <= width <= 1310px) { 
/* Header--------------------------------------------------------------------- */
.header{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 5px;
    background-color: white;
    border-color: #D64F2D;
    position: sticky;
    top: 0;
}
.header .headerLogocm{
    cursor: pointer;
}

.header .headerLogocm img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .headerLogocm img:hover{
    transform: scale(1.05);
}

.header .nav-links{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.header select{
    font-weight: 600;
    color: #D64F2D;
    padding: 9px 25px;
    background-color: white;
    border-radius: 50px;
    margin: 1em 0 1em 0;
}



/* FOOTER----------------------------------------------------------- */

.footer{
display: grid;
grid-template-rows: 3fr;
grid-template-columns: 1fr;
grid-template-areas: 
"address third"
"address social";
height: auto;
width: 100%;
background-color: #d64f2d;
align-items: center;
justify-content: space-around;
}

.footerAddress{
grid-area: address;
color: white;
place-self: end start;

}
.footerAddress h3{
font-size: 1.5em;
}

.footerAddress a{
color: white;
text-decoration: none
}

.footerAddress a:hover{
color: #960018;
}

/*Links para externos-----------------------------*/

.footerThird{
grid-area: third;
place-self: end center;
}

.footerThird ul{
list-style: none;
display: flex;
padding: 1em;
gap: 1em;

}

.footerThird a{
font-size: 700;
font-weight: 600;
color: white;
text-decoration: none
}

.footerThird li:hover{
transform: scale(1.05);
}
.footerThird a:hover{
color: #960018;
}

/*Redes sociales-----------------------------*/
.footerSocial{
grid-area: social;
place-self: center center;


}
.footerSocial h2{
font-size: 700;
font-weight: 500;
color: white;
}

.footerSocial li{
list-style: none;
display: inline-block;
padding: 0.5em;
    
}


.footerSocial img{
height: 50px;
width: auto;
}

/* INDEX---------------------------------------------------------------------------------------------------------------- */
/*Hero Section-----------------------------*/
.herosection {
display: flex;
height: 50vh;
width: auto ;
padding: 0px;
margin-top: 20px;
margin: bottom 20px;
background-color: white;
}

.herosection {
background-image: url(../images/Hero2.webp);
background-size: cover;
background-position: center;

}

.herosection .herosectionTxt{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-top: 1em;
margin-left: 1em;

}


.herosection .herosectionTxt h1{
color: #ffffff;
font-size: 4em;
font-weight: 500;
text-decoration: none;   
}
.herosectionTxtSpanhero{
color: #D64F2D;
font-size: 2em;
font-weight: 500;
text-decoration: none;  
}

.companygeneral{
display: flex;
flex-direction: column;
height: auto;
width: auto;
margin: 2em 0 2em 0;
background-color:#ffffff;

}

.companygeneral img{
height: 300px;
width: auto;
}

.companygeneralTxt{
display: flex;
flex-direction: column;
text-align: left;
margin-top: 60px;

}


.companygeneralTxt h2{
color: #D64F2D;
font-size: x-large;
font-weight: 800;
text-decoration: none; 
}

.companygeneralTxt p{
color: #D64F2D;
font-size: x-large;
font-weight: 500;
text-decoration: none; 
}

/*Formulario home-----------------------------*/

.homeform{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
padding: 50px;
background-color: #D64F2D;
}

.homeform h2{
color: #ffffff;
font-size: 3em;
font-weight: 500;
text-decoration: none;
text-align: center;

}

.homeform .homeformFormorder{
display: flex;
flex-direction: column;
padding: 0 ;
justify-content: center;
}

.homeformFormorderField{
color: #D64F2D;
font-size: 700;
font-weight: 500;
text-decoration: none; 
border-radius: 20px;
border: none;
padding: 5px;

}

.homeformFormorderLabel{
color: white;
font-size: 700;
font-weight: 800;
text-decoration: none; 
}

.homeform form input{
font-weight: 600;
color: #D64F2D;
padding: 9px 25px;
margin-top: 20px;
background-color: white;
border-radius: 20px;
}

/* PRODUCT LIST---------------------------------------------------------------------------------------------------------------- */

.productshero{
display: flex;
flex-direction: column;
height: auto;
width: 100%;
background-color: white;
padding: 1em 0 1em 0;
}

.productsheroTxt h1{
color: #D64F2D;
font-size: large;
font-weight: 800;
text-decoration: none;
text-align: center; 
}

.productsheroTxt p{
color: #D64F2D;
font-size: large;
font-weight: 500;
text-decoration: none; 
text-align: justify;
}

.productitem{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
height: auto;
width: 100%;
margin: 2em 0 2em 0;
background-color:#ffffff;


}

.productitemreverse{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
height: auto;
width: 100%;
margin: 2em 0 2em 0;
background-color:#ffffff;
}

.productitem img{
height: 90%;
width: auto;
max-width: 350px;
}

.productitemreverse img{
height: 90%;
width: auto;
max-width: 350px;
}

.producttxt{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-top: 60px;
margin-left: 50px;
}


.producttxt h2{
color: #D64F2D;
font-size: xx-large;
font-weight: 800;
text-decoration: none; 
}

.producttxt p{
color: #D64F2D;
font-size: x-large;
font-weight: 500;
text-decoration: none;
text-align: justify;
}
/*Contact us ------------------------------------------------------------------*/   
.visitus{
    height: auto;
    width: 100%;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
}

.visitusTxt{
    display: flex;
    flex-direction: column;
    padding:0px;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.visitus h1{
    color: #D64F2D;
    font-size: large;
    font-weight: 500;
    text-decoration: none; 
}

.visitus h2{
    color: #D64F2D;
    font-size: 3em;
    font-weight: 500;
    text-decoration: none; 
}

.visitus p{
    color: #D64F2D;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none; 
}

.visitus img{
    margin-bottom: 1em;
}    

}


@media (max-width: 767px) {
    /* Header--------------------------------------------------------------------- */
    .header{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 5px;
        background-color: white;
        border-color: #D64F2D;
        position: sticky;
        top: 0;
    }
    .header .headerLogocm{
        cursor: pointer;
    }
    
    .header .headerLogocm img{
        height: 70px;
        width: auto;
        transition: all 0.3s;
    }
    
    .header .headerLogocm img:hover{
        transform: scale(1.05);
    }
    
    .header .nav-links{
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    

    .header select{
        font-weight: 600;
        color: #D64F2D;
        padding: 9px 25px;
        background-color: white;
        border-radius: 50px;
        margin: 1em 0 1em 0;
    }



/* FOOTER----------------------------------------------------------- */

footer{
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "address"
    "third"
    "social";
    height: auto;
    width: 100%;
    background-color: #d64f2d;
    align-items: center;
    justify-items: center;
}

footer .footer-address{
    grid-area: address;
    color: white;
    place-self: center center;
    padding: 1.5em;
    
}
footer  .footer-address h3{
    font-size: 1.5em;
}

footer .footer-address a{
    color: white;
    text-decoration: none
}

footer .footer-address a:hover{
    color: #960018;
}

/*Links para externos-----------------------------*/

footer .footer-third{
    grid-area: third;
    place-self: end center;
}

footer .footer-third ul{
    list-style: none;
    display: flex;
    padding: 1em;
    gap: 1em;
    
}

footer .footer-third a{
    font-size: 700;
    font-weight: 600;
    color: white;
    text-decoration: none
}

footer .footer-third li:hover{
    transform: scale(1.05);
}
footer .footer-third a:hover{
    color: #960018;
}

/*Redes sociales-----------------------------*/
footer .footer-social{
    grid-area: social;
    place-self: center center;
    
    
}
footer .footer-social h2{
    font-size: 700;
    font-weight: 500;
    color: white;
}

footer .footer-social li{
    list-style: none;
    display: inline-block;
    padding: 0.5em;
        
}


footer .footer-social img{
    height: 50px;
    width: auto;
}

/* INDEX---------------------------------------------------------------------------------------------------------------- */
/*Hero Section-----------------------------*/
.herosection {
    display: flex;
    height: 50vh;
    width: auto ;
    padding: 0px;
    margin-top: 20px;
    margin: bottom 20px;
    background-color: white;
}

.herosection {
    background-image: url(../images/Hero2.webp);
    background-size: cover;
    background-position: center;
    
}

.herosection .herosectionTxt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;
    margin-left: 1em;
    
}


.herosection .herosectionTxt h1{
    color: #ffffff;
    font-size: 2em;
    font-weight: 500;
    text-decoration: none;   
}
.herosectionTxtSpanhero{
    color: #D64F2D;
    font-size: 2em;
    font-weight: 500;
    text-decoration: none;  
}

.companygeneral{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 2em 0 2em 0;
    background-color:#ffffff;

}

.companygeneral img{
    height: 200px;
    width: auto;
    }

.companygeneralTxt{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 60px;

}


.companygeneralTxt h2{
    color: #D64F2D;
    font-size: x-large;
    font-weight: 800;
    text-decoration: none; 
}

.companygeneralTxt p{
    color: #D64F2D;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none; 
}

/*Formulario home-----------------------------*/

.homeform{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #D64F2D;
}

.homeform h2{
    color: #ffffff;
    font-size: 3em;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    
}

.homeform .homeformFormorder{
    display: flex;
    flex-direction: column;
    padding: 0 ;
    justify-content: center;
}

.homeformFormorderField{
    color: #D64F2D;
    font-size: 700;
    font-weight: 500;
    text-decoration: none; 
    border-radius: 20px;
    border: none;
    padding: 5px;
    
}

.homeformFormorderLabel{
color: white;
    font-size: 700;
    font-weight: 800;
    text-decoration: none; 
}

.homeform form input{
    font-weight: 600;
    color: #D64F2D;
    padding: 9px 25px;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
}

/* PRODUCT LIST---------------------------------------------------------------------------------------------------------------- */

.productshero{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: white;
    padding: 1em 0 1em 0;
}

.productsheroTxt h1{
    color: #D64F2D;
    font-size: large;
    font-weight: 800;
    text-decoration: none;
    text-align: center; 
}

.productsheroTxt p{
    color: #D64F2D;
    font-size: large;
    font-weight: 500;
    text-decoration: none; 
    text-align: justify;
}

.productitem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin: 2em 0 2em 0;
    background-color:#ffffff;

    
}

.productitemreverse{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin: 2em 0 2em 0;
    background-color:#ffffff;
}

.productitem img{
height: 90%;
width: auto;
max-width: 350px;
}

.productitemreverse img{
    height: 90%;
    width: auto;
    max-width: 350px;
    }

.producttxt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 50px;
}


.producttxt h2{
    color: #D64F2D;
    font-size: xx-large;
    font-weight: 800;
    text-decoration: none; 
}

.producttxt p{
    color: #D64F2D;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none;
    text-align: justify;
}
/*Contact us ------------------------------------------------------------------*/   
.visitus{
        height: auto;
        width: 100%;
        background-color:#ffffff;
        display: flex;
        flex-direction: column;
    }
    
    .visitusTxt{
        display: flex;
        flex-direction: column;
        padding:0px;
        text-align: left;
        justify-content: center;
        align-items: center;
    }
    
    .visitus h1{
        color: #D64F2D;
        font-size: large;
        font-weight: 500;
        text-decoration: none; 
    }
    
    .visitus h2{
        color: #D64F2D;
        font-size: 3em;
        font-weight: 500;
        text-decoration: none; 
    }
    
    .visitus p{
        color: #D64F2D;
        font-size: 1em;
        font-weight: 500;
        text-decoration: none; 
    }
    
    .visitus img{
        margin-bottom: 1em;
    }    

}
    



