.header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 5px;
    background-color: nth($colores, 2);
    border-color: nth($colores, 1);
    position: sticky;
    top: 0;
    z-index: 3;
    .headerLogocm{
        cursor: pointer;  
        
    }


}

// NAVBAR BOOTSTRAP

.nav-link {
    font-size: 700;
    font-weight: 600;
    color: nth($colores, 1);
    text-decoration: none;
}

.nav-link:hover{
    font-size: 700;
    font-weight: 600;
    color:nth($colores, 3);
    text-decoration: none;
    transform: scale(1.05);
}
.navbar-brand{
    font-size: 700;
    font-weight: 600;
    color: nth($colores, 1);
    text-decoration: none;
    img{
        height: 70px;
        width: auto;
        transition: all 0.3s;
        &:hover{
        transform: scale(1.05);
        }
    }

    }

.navbar-brand:hover{
    font-size: 700;
    font-weight: 600;
    color:nth($colores, 3);
    text-decoration: none;
    transform: scale(1.05);
}
.active{
    font-size: 700;
    font-weight: 600;
    color: nth($colores, 1);
    text-decoration: none;
}

.nav-link active{
    font-size: 700;
    font-weight: 600;
    color: nth($colores, 1);
    text-decoration: none;
}