// LISTA DE COLORES

$colores:
#d64f2d,
white,
#960018;


// EXTEND
%textodeproductos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 50px;

}

// MIXIN





